.book-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.book-card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.book-card:hover {
    cursor: pointer;
    opacity: 0.8;
}