.authors {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 40px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    .authors {
        grid-template-columns: 1fr;
    }
}