:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-bg: #f0f4f4;
  --secondary-bg: #e1e9e9;
  --primary-text: #263333;
  --primary-header: rgba(38,51,51,.9);
  
  --link: 15px;
  --link-mob: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--primary-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

h3 {
  font-size: 30px;
  color: var(--primary-header);
  font-weight: 400;
}

h4 {
  font-size: 20px;
  color: var(--primary-header);
  font-weight: 400;
}

h5 {
  font-size: 30px;
  color: var(--primary-header);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.4em;
  font-size: 13px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
  color: var(--primary-text);
}

a {
  font-size: 16px;
}

button, a {
  transition: all 0.5s;
}

button:hover, a:hover {
  opacity: 0.8;
}

.error {
  color: rgb(255, 115, 115);
}

@media (max-width: 768px) {
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 17px;
  }

  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }
}